@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  color: #212529;
}

.App {
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #87b5b5;
}

.toolbar {
  height: 30px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid black;
  border-bottom: 0;
  box-shadow: 1px 1px 10px 2px #3a5f5f;
  background-color: #4aa3a3;
  font-family: 'Bitter', serif;
}

i {
  margin-left: auto;
}

.editorWraper {
  margin: 30px auto 0px;
  height: 200px;
}

#editor {
  width: 600px;
  padding: 8px;
  height: calc(100% - 30px);
  background-color: #c0d8d8;
  box-shadow: 1px 1px 10px 2px #3a5f5f;
  border: 1px solid black;
}

.previewWraper {
  margin: auto;
  margin-top: 30px;
}

#preview {
  border: 1px solid black;
  padding: 16px;
  width: 800px;
  background-color: #c0d8d8;
  box-shadow: 1px 1px 10px 2px #3a5f5f;
}

#preview * {
  margin: 15px 0px;
}

#preview h1 {
  border-bottom: 2px solid #224b4b;
}

#preview h2 {
  border-bottom: 1px solid #224b4b;
}

#preview p code {
  background-color: white;
  padding: 4px;
}

#preview pre {
  background-color: white;
  padding: 4px;
  overflow-x: auto;
}

#preview blockquote {
  border-left: 3px solid #224b4b;
  color: #224b4b;
  padding-left: 5px;
  margin-left: 25px;
}

#preview table {
  border-collapse: collapse;
}

#preview td, #preview th {
  border: 2px solid #224b4b;
  padding-left: 5px;
  padding-right: 5px;
}

#preview ul, #preview ol {
  padding-left: 36px;
}

#preview ul, #preview li {
  margin: 0;
}

#preview img {
  display: flex;
  margin: 0 auto;
  max-width: 100%;
}

.maximized {
  height: 90vh;
}

.hide {
  display: none;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

#github {
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  transform: scale(0.9);
}

#github:hover {
  transform: scale(1);
  margin-left: 2px;
}

@media (max-width: 900px) {
  .editorWraper, #editor {
    width: 65vw;
  }

  .previewWraper, #preview {
    width: 85vw;
  }
}

@media (max-width: 420px) {
  #preview ul, #preview ol {
    padding-left: 20px;
  }
}